[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/vim-niji"]
	path = bundle/vim-niji
	url = https://github.com/amdt/vim-niji.git
	ignore = dirty
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/kovisoft/slimv.git
